{% extends "base_with_header.html" %}

{% block links %}
<link rel="stylesheet" href="/static/upload.css">
{% endblock %}

{% block body %}
<div id="FileUpload">
    <div class="wrapper">
      <div class="upload">
        <form action = "{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFile" onchange="this.form.submit()">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </form>
      </div>
      <div class="uploaded">
        <div class="file">
          <div class="file__name">
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}